* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 1em/1.7em 'Montserrat', sans-serif;
  }

body {
    color: #000033;
}

body img {
    width: 100%;
}

body img.arrow {
    max-width: 94px;
    height: 11px;
}

/*--------------- MOBILE FIRST -------------------*/

.container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    /* display: grid; */
    /* overflow: hidden; */
    /* grid-gap: 24px; */
    /* grid-template-columns: repeat(12, 1fr); */
}

/*-------------- menu ---------------------*/

.top-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: white;
}

nav {
    padding: 1.5rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.WR-logo {
    max-width: 120px;
}

/* ---- menu mobile ---- */

.dropdown-icon {
    font-size: 2em;
    display: block;
}

.top-menu {
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    font-size: 1.3rem;
    transition: 1s ease-in-out;
}

.visible {
    display: block;
    transform: translateY(4em);
}

.visible li {
    padding: 1rem;
}

.visible li:first-child {
    padding-top: 2.5rem;
}

.line {
    width: 98%;
    height: 2px;
    background-color: #000033;
    margin: 0 auto;
}

.visible li:last-child {
    padding-top: 1.5rem;
    padding-bottom: 0;
}

/* ---- menu desktop ---- */

nav ul {
    list-style: none;
    align-items: center;
}

nav ul li {
    text-align: center;
}

nav ul a {
    text-decoration: none;
    color: #000033;
    display: inline-block;
}

nav ul a:hover {
    background-color: #000033;
    color: white;
}

.hr {
   height: 3px;
   width: 90%;
   margin: 0 auto;
   background-color: #000033;
}

/*------------------ BODY -----------------*/

main {
    margin: 0 auto;
}

/* ---------about----------------- */

header {
    margin-top: 8em;
    width: 95%;
    position: relative;
}

.img-right {
    /* width: 80%; */
    height: 18em;
    margin: 0 auto;
    padding: 0;
}

.say-it {
    background: center / contain no-repeat url("img/powiedz-to-bardziej-warsztaty-retoryczne-dominik-mazur.png");
    position: relative;
}

h1 {
    font-size: 3rem;
    line-height: 4rem;
    position: absolute;
    z-index: 1;
    top: 5rem;
    left: 1.3rem;
}

/* dodatkowy styl dla hr */

.section {
    margin: 5rem auto;
}

/* ----------------retoryka to warsztat----------- */

.article-set {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.wr-workshop {
    width: 90%;
    margin: 0 auto;
}

h2 {
    font-size: 2.3rem;
    line-height: 1.2em;
    padding-bottom: 3rem;
}

.about img {
    max-width: 409px;
}

.mobile-hidden {
    display: none;
}

/* ---------------- workshop ------------------- */

.workshop {
    width: 100%;
    margin: 4rem 0;
    background-color: #000033;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2.7rem 1.5rem;
    font-size: 1.4rem;
}

.button {
    margin: 2rem auto 0 auto;
    background-color: #000033;
    font-size: 1.3rem;
    color: white;
    border: 1px solid white;
    padding: .4em 1em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.button:hover {
    background-color:white;
    color: #000033;
}
.button:active {
    background-color: whitesmoke;
    color: #000033;
}


/* ----------------- why --------------------- */

h3 {
    margin: 1.5rem 0 1rem 0;
    font-size: 1.2rem;
}

.why img {
    max-width: 319px;
}

.contact-us-breadcrumb {
    margin: 2rem 0 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-us-breadcrumb a {
    text-decoration: none;
    color: #000033;
}

.contact-us-breadcrumb a:hover {
    text-decoration: none;
    color: white;
    background-color: #000033;
}

/* ---------------- what -------------------- */

.what img {
    max-width: 550px;
}

/* --------- newsletter ---------------- */

.newsletter {
    border: none;
    background-color: #1f1f4b;
    padding: .3rem 0;
    color: white;
    font-size: 1.3rem;
    border-bottom: 1px solid white;
}

.newsletter::placeholder {
    color: white;
}

/* ---------------for everyone--------------- */

.for-everyone img {
    max-width: 408px;
}

.for-everyone ul {
    list-style-type: none;
    margin-left: 2rem;
}

.for-everyone li {
    padding-left: 1em;
    display: block;
}

.for-everyone ul > li:before {
    content: "\005C";
    margin: 0 .6em 0 -1em;
    /* text-indent: 2em each-line; */
}

/* ----------- offer ------------------ */

.offer {
    margin-top: 4rem;
}

.offer ul {
    margin-top: 1rem;
    list-style-type: none;
}

.offer ul .group-lvls {
    margin: 0 0 0 1rem;;
}

.offer ul a {
    color: #000033;
    text-decoration: none;
}

.offer ul a:hover {
    color: white;
    background-color: #000033;
}

.offer img {
    max-width: 550px;
}

.sign-in {
    margin: 2rem 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sign-in a {
    color: #000033;
}

.sign-in a:hover {
    text-decoration: none;
    color: white;
    background-color: #000033;
}

/* --------- contact ---------------- */

.address {
    margin-bottom: 4em;
}

.address a {
    text-decoration: none;
    color: #000033;
}

.form input, textarea {
    display: flex;
    justify-content: center;
    border: none;
    border-bottom: 1px solid #000033;
    background-color: #e4e4fa;
    width: 100%;
    padding: .5rem 0 .2rem 0;
    margin-bottom: .8rem;
}

.form input::placeholder, textarea::placeholder {
    color: #000033;
}

.send {
    width: 100%;
    background-color: #000033;
    color: white;
    border: 1px solid #000033;
    padding: .8em 0;
    cursor: pointer;
}

.send:hover {
    background-color: white;
    color: #000033;
    border: 1px solid #000033;
}

/* ---------- footer ---------------- */

footer {
    width: 100%;
    margin-top: 4rem;
    background-color: #000033;
    color: white;
    text-align: center;
}

footer img {
    margin: 2rem 0;
    max-width: 150px;
}

footer ul {
    list-style-type: none;
    display: inline;
}

footer ul li {
    padding: 1rem;
}

footer ul a {
    text-decoration: none;
    color: white;
}
footer ul a:hover {
    text-decoration: underline;
}

footer p {
    font-size: .6rem;
    padding-bottom: 1rem;
}
