body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-image: url("img/warsztaty-retoryczne-example.jpg");
    background-size: cover;
    background-position: top center;
    width: 100%;
    height: 25em;
    }

@media (min-width:801px) { header {
        height: 30em;
        }
    }

.logoMain {
    width: 300px;
    height: auto;
    margin-top: 4em;
    margin-bottom: 2em;
}

@media (min-width:801px) { .logoMain {
    width: 350px;
    height: auto;
    margin-top: 4em;
    margin-bottom: 3em;
    }
}

.haslo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: white;
    padding: 1em;
    text-align: center;
    font-size: 1.5em;
    width: 12em;
    background-color: rgba(68, 68, 68, 0.527);
    border-radius: .5em;
}

.haslo:hover {
    background: rgba(68, 68, 68, 0.849);
    text-shadow: 2px 2px #000000;
}

@media (min-width:801px) {
    .haslo {
        font-size: 1.8em;
        width: 15em;
    }
}

.menuTop {
    width: 100%;
    padding: .6em;
    background-color: rgb(88, 86, 86);

}

.logoMenu {
    max-width: 5em;
}

ul {
    padding: 0;
}

ul > li {
    list-style-type: none;
    margin-left: 3em;
    text-align: left;
    line-height: 2em;
}

ul li a {
    color: #fff;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

@media (min-width:801px) {
    ul > li {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 0;
        line-height: 0;
    }
}

h1 {
    text-transform: uppercase;
    padding: 30px;
}


#news
{
    display: inline-block;
    margin-bottom: 50px;
}

.news:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    z-index: 0;
}
.news:hover:after {
    opacity: 0.9;
}

.news > * {
    z-index: 10;
    position: relative;
}

.news {
    background-image: url("img/Warsztaty-retoryczne-Dominik-Mazur-small.png");
    background-size: cover;
    position: relative;
    width: 300px;
    height: 300px;
    padding: 5px;
    text-align: center;
    padding-left: 15px;
    display: inline-block;
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
}

.txtNews {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    display: block;
    padding-left: 15px;
    padding-top: 35px;
}


 .signIn {
	-moz-box-shadow: 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow: 0px 1px 0px 0px #fff6af;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:15px 38px;
	text-decoration:none;
    text-shadow:0px 1px 0px #ffee66;
    outline: 0;
    
    
}
.signIn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.signIn:active {
	position:relative;
	top:1px;
}

.newsletter {
    height: 35px;
    width: 250px;
    margin-bottom: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    outline: 0;
}

#about {
    background-color: rgb(248, 246, 246);
    padding-bottom: 30px;
    padding-top: 10px;
}

.photo-about {
    text-align: center;
    width: 100%;
    max-width: 20em;
    height: auto;
}

@media (min-width:801px) {
    .photo-about {
        float: left;
        max-width: 25em;
        margin-left: 5em;
        padding-right: 2em;
    }
}

#txt-about {
    text-align: justify;
    padding: 1em 2.5em 1em 2.5em;
    font-size: 1.2em;
    line-height: 1.5em;
}

@media (min-width:801px) {
    #txt-about { 
        padding: 0 3em 0 0;
    }
}


#zespol
    {
        float: left;    
}

.teamMember {
    height: 18em;
    width: 18em;
    margin-left: auto;
    margin-right: auto;

}

.teamMember p {
    display: none;
    position: absolute;
    text-align: justify;
    margin-top: -250px;
    margin-left: -10px;
    width: 17em;
    background-color: rgba(255, 255, 255, 0.849);
    padding: 1em;
    border: 1px solid gray;
}

.teamMember:hover p {
    display: block;
}

#advantages {
    background-color:  rgb(248, 246, 246);
    margin-top: 50px;
    padding-bottom: 60px;
    padding-top: 10px;
}

#why {
    display: inline-block;
}

.advantage {
    width: 16em;
    height: 15em;
    border: 1px solid rgb(179, 179, 179);
    margin-top: 10px;
    display: inline-block;
}

.advantage p {
    position: absolute;
    width: 16em;
}

#testimonials {
    display: inline-block;
}

.testimonial {
    width: 17em;
    height: 17em;
    border: 1px solid rgb(179, 179, 179);
    margin-top: 10px;
    text-align: center;
    display: inline-block;
}

.testimonial p {
    position: absolute;
    height: 17em;
    width: 17em;
  
}

#offer {
    background-color:  rgb(248, 246, 246);
    margin-top: 50px;
    padding-bottom: 60px;
    padding-top: 10px;
}

#contact {

}

footer {
    background-color:  rgb(248, 246, 246);
    margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 0;
}

footer p {
    padding-bottom: 30px;
}
